.gamepage-master {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gamepage-title {
  font-size: 50px;
  letter-spacing: 3px;
  padding: 20px;
}

.gamepage-image {
  display: flex;
  align-self: center;
  height: 400px;
  width: 500px;
  padding: 10px;
}

.the-image {
  height: 100%;
  width: 100%;
}

/* .gamepage-description {
  padding: 20px;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  text-align: initial;
  line-height: 1.5;
} */

.gamepage-release {
  font-size: 15px;
  padding: 10px;
}

.gampeage-price {
  font-weight: bold;
  padding-bottom: 20px;
}

.gamepage-youtube-title {
  font-size: 30px;
  width: 100%;
}

.gamepage-youtube {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
}

.youtube-image {
  height: 250px;
  width: 250px;
}

.gamepage-twitch-title {
  font-size: 30px;
  width: 100%;
}

.gamepage-twitch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
}

.twitch-image {
  height: 250px;
  width: 250px;
}
