.gamepage-master {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gamepage-title {
  font-size: 50px;
  letter-spacing: 3px;
  padding: 20px;
}

.the-image {
  height: 400px;
  width: 500px;
}

.gamepage-description {
  padding: 20px;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  text-align: initial;
  line-height: 1.5;
}
