.footer {
  background: #f9f9f9;
  box-shadow: 1px 1px lightgrey;
  bottom: 0;
  left: 0;
  padding: 10px;
  right: 0;
  text-align: center;
  position: fixed;
}

.about-us {
  color: black;
  text-decoration: none;
}
